@model CarWash.Web.ViewModels.account.UpdateProfileViewModel
@using CarWash.Web.Infrastructures.Domain.Helpers
@{
    ViewData["Title"] = "UpdateProfile";
}




<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>Update Profile </h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <!--left col-->
            <div class="text-center">
                <img src="~/images/users/@Model.UserId/thumbnail.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div><br>




        </div><!--/col-3-->
        <div class="col-sm-9">
            @*<ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li><a data-toggle="tab" href="#messages">Menu 1</a></li>
                    <li><a data-toggle="tab" href="#settings">Menu 2</a></li>
                </ul>*@

            <div class="tab-content">
                <div class="tab-pane active" id="home">

                    <hr>
                    <div asp-validation-summary="All" class="text-danger text-center"></div>
                    @Html.AntiForgeryToken()
                    <form class="form" action="~/account/update-profile" method="post">
                        <input type="hidden" value="@Model.UserId" name="UserId" />
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>First name</h4></label>
                                <input type="text" class="form-control" name="FirstName" id="firstname" placeholder="First Name" value="@Model.FirstName" title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name"><h4>Last name</h4></label>
                                <input type="text" class="form-control" name="LastName" id="lastname" placeholder="Last Name" value="@Model.LastName" title="enter your last name if any.">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4>Phone</h4></label>
                                <input type="text" class="form-control" name="PhoneNumber" id="phone" placeholder="Phone" value="@Model.PhoneNumber" title="enter your phone number if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4>Gender</h4></label>
                                <select class="form-control col-xs-6" id="gender" name="Gender">
                                    @{
                                        var genderOptions = Enum.GetValues(typeof(CarWash.Web.Infrastructures.Domain.Enums.Gender)).Cast<CarWash.Web.Infrastructures.Domain.Enums.Gender>();

                                        foreach (CarWash.Web.Infrastructures.Domain.Enums.Gender genderOption in genderOptions)
                                        {
                                            if (Model.Gender == genderOption)
                                            {
                                                <option value="@genderOption" selected>@genderOption.ToString()</option>
                                            }
                                            else
                                            {
                                                <option value="@genderOption">@genderOption.ToString()</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit" id="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                <a href="~/account/profile/@Model.UserId" class="btn btn-lg btn-danger">back</a>
                            </div>
                        </div>
                    </form>

                    <hr>

                </div><!--/tab-pane-->


            </div><!--/tab-pane-->
        </div><!--/tab-content-->
    </div><!--/col-9-->
</div><!--/row-->



<script src="~/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#submit").attr('disabled', 'disabled');

        $("form").keyup(function () {
            // To Disable Submit Button
            $("#submit").attr('disabled', 'disabled');
            // Validating Fields
            var firstname = $("#firstname").val();
            var lastname = $("#lastname").val();
            var phone = $("#phone").val();


            if (!(firstname == "" || lastname == "" || phone == ""))
            {

                // To Enable Submit Button
                $("#submit").removeAttr('disabled');
                $("#submit").css({
                    "cursor": "pointer",
                    "box-shadow": "1px 0px 6px #333"
                });

            }
        });
        // On Click Of Submit Button
        $("#submit").click(function () {
            $("#submit").css({
                "cursor": "default",
                "box-shadow": "none"
            });

        });
    });

</script>