@model CarWash.Web.Areas.Manage.ViewModels.bookings.IndexViewModel
@using CarWash.Web.Infrastructures.Domain.Enums
@using CarWash.Web.Infrastructures.Domain.Models
@using CarWash.Web.Infrastructures.Domain.Helpers
@{
    Layout = "~/areas/manage/views/shared/_forms.cshtml";
}


<br /><br /><br />
<br />
<h1 class="text-center">List of Bookings</h1>
<hr />
<br /><br />
<div class="row">
    <div class="col-lg-5">
        <div class="input-group mt-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Services</span>
            </div>
            <select class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="searchStatus" onchange="searchTrigger()" placeholder="Login Status">
                @{
                    foreach (ServiceType service in Model.Serviceses)
                    {
                        if (Model.ServiceT == service)
                        {
                            <option value="@service" selected>@service.ToString()</option>
                        }
                        else
                        {
                            <option value="@service">@service.ToString()</option>
                        }
                    }
                }
            </select>
        </div>
    </div>

    <div class="col-lg-3 ">
        <div class="input-group mt-5">
            <input type="text" id="searchKeyword" placeholder="Search bookings" class="form-control" aria-label="search booking" aria-describedby="basic-addon2" value="@Model.Bookings.Keyword">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><a href="#" onclick="searchTrigger()"><i class="fa fa-search" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="table-responsive table--no-card m-b-30 mt-md-5">
            <a href="~/manage/booking/create-bookings" class="btn btn-lg-3 btn-success btn-block">
                <i class="fa fa-plus"></i>&nbsp;
                <span>Create Booking</span>
            </a>
        </div>
    </div>
</div>
<hr />


@if (Model.Bookings.Items.Count > 0)
{
    <table class="table table-borderless table-striped table-hover">
        <thead>
            <tr class="table-info">
                <th>Vehicle</th>
                <th>Service Type</th>
                <th>Time</th>
                <th>Price</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (Booking booking in Model.Bookings.Items)
                {
                    <tr>
                        <td>@booking.Title</td>
                        <td>@booking.ServiceType</td>
                        <td>@booking.Time</td>
                        <td>@booking.BookingStatus</td>
                        <td>
                            <a href="~/manage/booking/details/@booking.Id" title="Booking Details"><button type="button" class="btn"><i class="fas fa-info"></i></button></a>
                            <a href="#" onclick="changeStatus('@booking.Id','@booking.Title', '@booking.BookingStatus', '@booking.UserId')">
                                <i class="fas fa-book" style="color:#0094ff"></i>
                            </a>
                         
                            <a href="#" onclick="confirmDeleteService('@booking.Id', '@booking.Title')" title="Delete Service"><button type="button" class="btn"><i class="fas fa-times"></i></button></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><span class="form-control-plaintext">Page&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><input type="number" value="@Model.Bookings.PageIndex" class="form-control" style="width:50px;" onKeydown="javascript: if(event.keyCode == 13 && isNaN(parseInt($(this).val()))==false) window.location='/manage/booking/index?pageIndex=' + (isNaN(parseInt($(this).val())) ? 1 : parseInt($(this).val())) + '&keyword=@(Model.Bookings.Keyword)&booking=@(Model.ServiceT)" /></li>
                            <li class="page-item"><span class="form-control-plaintext">&nbsp;&nbsp;&nbsp;of @Model.Bookings.PageCount&nbsp;&nbsp;&nbsp;</span></li>
                            @{
                                var prev = Model.Bookings.PageIndex - 1;
                                if (prev > 0)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/service?keyword=@Model.Bookings.Keyword&booking=@Model.ServiceT&pageSize=@Model.Bookings.PageSize&pageIndex=@prev"><span aria-hidden="true">&laquo;</span></a></li>
                                }
                            }
                            <li class="page-item"><a class="page-link" href="#">@(Model.Bookings.PageIndex)</a></li>
                            @{
                                var next = Model.Bookings.PageIndex + 1;
                                if (next <= Model.Bookings.PageCount)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/booking?keyword=@Model.Bookings.Keyword&booking=@Model.ServiceT&pageSize=@Model.Bookings.PageSize&pageIndex=@next"><span aria-hidden="true">&raquo;</span></a></li>
                                }
                            }
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>0 search results.</p>
}

<!--Delete Book-->
<div class="modal" tabindex="-1" role="dialog" id="modal-delete-booking">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Booking</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span id="modal-delete-booking-vehicle"></span>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-delete-booking-confirm"><button type="button" class="btn btn-primary">Delete Booking</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Change Status-->
<div class="modal" tabindex="-1" role="dialog" id="change-status-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Do you want to change the status of <span class="change-status-modal-item-title"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/manage/booking/change-status" method="post">
                <div class="modal-body">
                    <p>Do you want to change the status of <span class="change-status-modal-item-title"></span>?</p>
                    <input type="hidden" name="BookingId" id="change-status-modal-item-id" />
                    <input type="hidden" name="UserId" id="change-status-modal-user-id" />
                    Status : <select class="form-select" name="Status" aria-label="" id="change-status-modal-item-status">
                        <option value="Pending">Pending</option>
                        <option value="Confirm">Confirm</option>
                        <option value="Cancel">Cancel</option>
                        <option value="Complete">Complete</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>




<script type="text/javascript">
    function changeStatus(id, title, status, userId) {
        console.log(id);
        console.log(title);
        console.log(status);
        $(".change-status-modal-item-title").html(title);
        $("#change-status-modal-item-id").val(id);
        $("#change-status-modal-user-id").val(userId);
        $("#change-status-modal-item-status option[value=" + status + "]").prop('selected', true);
        $("#change-status-modal").modal("show");
    }

 
    function confirmDeleteService(bookingId, Vehicle) {
        $("#modal-delete-booking-vehicle").html(Vehicle);
        $("#modal-delete-booking-confirm").attr("href", "/manage/booking/delete/" + bookingId);
        $("#modal-delete-booking").modal("show");
    }

    $("#searchKeyword").keyup(function (event) {
        if (event.keyCode === 13) {
            searchTrigger();
        }
    });

    function searchTrigger() {
        window.location = "/manage/booking?pageIndex=1&keyword=" + $("#searchKeyword").val() + "&booking=" + $("#searchStatus").val();
    }


</script>
