@model CarWash.Web.ViewModels.bookings.BookingsViewModel
@using CarWash.Web.Infrastructures.Domain.Models
@{
    ViewData["Title"] ="Booking";
}

<br /><br /><br />
<div class="section-title">
    <h2>Bookings</h2>
</div>

<div>
    <img src="~/img/cars.png" style="width:1100px; height:330px;" />
</div>




    <!-- Service Type -->
    <br /><br />
    <img src="~/img/services/vehicletype.png" />
    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card  h-75 text-center">
                <img class="card-img-top" src="~/img/services/small.png" alt="">

            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card h-75 text-center">
                <img class="card-img-top" src="~/img/services/medium.png" alt="">

            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card  h-75 text-center">
                <img class="card-img-top" src="~/img/services/large.png" alt="">

            </div>
        </div>

        <div class="col-lg-3 mb-4">
            <div class="card h-75 text-center">
                <img class="card-img-top" src="~/img/services/extra large.png" alt="">

            </div>
        </div>


    </div>
    <!-- /.row -->
    <!-- Wash Type -->

    <br /><br />
    <img src="~/img/services/washpackages.png" />
    <div class="row">
        <div class="col-lg-3 mb-4">
            <div class="card  h-75 text-center">
                <img class="card-img-top" src="~/img/services/washpackages/260pesos.png" alt="">
                <hr />
                <a href="#" onclick="detailsone()" title="Details"><button type="button" class="btn btn-outline-secondary">Details</button></a>
                <br />
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card h-75 text-center">
                <img class="card-img-top" src="~/img/services/washpackages/450pesos.png" alt="">
                <hr />
                <a href="#" onclick="detailstwo()" title="Details"><button type="button" class="btn btn-outline-secondary">Details</button></a>
                <br />
            </div>
        </div>
        <div class="col-lg-3 mb-4">
            <div class="card  h-75 text-center">
                <img class="card-img-top" src="~/img/services/washpackages/1000pesos.png" alt="">
                <hr />
                <a href="#" onclick="detailsthree()" title="Details"><button type="button" class="btn btn-outline-secondary">Details</button></a>
                <br />
            </div>
        </div>

        <div class="col-lg-3 mb-4">
            <div class="card h-75 text-center">
                <img class="card-img-top" src="~/img/services/washpackages/3000pesos.png" alt="">
                <hr />
                <a href="#" onclick="detailsfour()" title="Details"><button type="button" class="btn btn-outline-secondary">Details</button></a>
                <br />
            </div>
        </div>

        @*@<form method="post" action="~/booking/bookings-costumer">*@
        @*@using (Html.BeginForm("Bookings", "Booking", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(b => b.Vehicle)
                @Html.DropDownListFor(b => b.Vehicle, new SelectList(Model.Services, "Id", "Vehicle"), "", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(b => b.Price)
                @Html.DropDownListFor(b => b.Price, new SelectList(Model.Services, "Id", "Price"), "", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(b => b.ServiceType)
                @Html.DropDownListFor(b => b.ServiceType, new SelectList(Model.Services, "Id", "ServiceType"), "", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(b => b.Time)
                @Html.TextBoxFor(b => b.Time, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(b => b.BookingAddress)
                @Html.TextBoxFor(b => b.BookingAddress, new { @class = "form-control", })
            </div>

            <div class="form-group mt-3">
                <button type="submit" value="Bookings" class="btn btn-primary">Submit</button>
                <a href="#" class="btn btn-danger">Cancel</a>
            </div>
        }*@

        <form method="post" action="~/booking/bookings-costumer">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="form-group">
                <label for="Price" class="control-label mb-1">Price</label>
                <select style="border: solid 2px darkgoldenrod;" class="form-control" id="price" name="Price">
                    @{
                        //var optionsPrice = Model.Services.ToList();

                        foreach (Booking booking in Model.Bookings)
                        {
                            <option value="@booking.Services.Price">@booking.Services.Price</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="Vehicle" class="control-label mb-1">Vehicle</label>
                <select style="border: solid 2px darkgoldenrod;" class="form-control" id="vehicle" name="Vehicle">
                    @{
                        //var optionsVehicle = Model.Services.ToList();

                        foreach (Booking booking in Model.Bookings)
                        {
                            <option value="@booking.Services.Vehicle">@booking.Services.Vehicle</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="ServiceType" class="control-label mb-1">Services</label>
                <select style="border: solid 2px darkgoldenrod;" class="form-control" id="price" name="ServiceType">
                    @{
                        //var optionsService = Model.Services.ToList();

                        foreach (Booking booking in Model.Bookings)
                        {
                         <option value="@booking.Services.ServiceType">@booking.Services.ServiceType</option>
                        }
                    }
                </select>
            </div>


            <div class="form-group">
                <label for="time">Time:</label>
                <input style="border: solid 2px darkgoldenrod;" type="datetime-local" class="form-control" id="Time" name="Time" required>
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <input style="border: solid 2px darkgoldenrod;" type="text" class="form-control" id="" name="BookingAddress" placeholder="Enter your address" required>
            </div>
            <div class="form-group mt-3">
                <button type="submit" value="Bookings" class="btn btn-primary">Submit</button>
                <a href="#" class="btn btn-danger">Cancel</a>
            </div>


        </form>
    </div>




@*<br /><br />
<img src="~/img/services/servicemenu.png" />
<div class="row">

    @if (Model.Services.Count > 0)
    {
        <table>
            <thead>
                <tr>
                    <th>Service Name</th>
                    <th>Price</th>
                    <th>Vehicle Size</th>
                    <th>Select</th>

                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Service service in Model.Services)
                    {
                        <tr>
                            <td>@service.ServiceType</td>
                            <td>@service.Price.ToString("")</td>
                            <td>@service.Vehicle</td>
                            <td>
                                <button type="button" style="border-radius:20px; border-color:#a38b3e;color: #a38b3e" class="btn">Select</button>
                            </td>
                        </tr>
                    }
                }

            </tbody>

        </table>
     }
</div>*@






<!-- /.row -->

<div class="container">


</div>


<!--Modal-->
<div class="modal" tabindex="-1" role="dialog" id="modal-details-260">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h3>Details</h3>
                <button type="button" class="close" data-dismiss="model" id="modal-close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Pressurised Body Wash,
                    Foam Cannon Wash (Synthetic Wax & Conditioner),
                    Ir Blow Dry,
                    Interior Vacuum and Cleaning,
                    Glass Cleaning,
                    Tire and Wheel Shine,
                    Engine Wipe
                </p>
            </div>
            <div class="modal-footer">

                <span>Price:</span><h5 class="modal-title"><span>&#8369</span>260</h5>
            </div>
        </div>
    </div>
</div>


<!--Modal-->
<div class="modal" tabindex="-1" role="dialog" id="modal-details-450">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h3>Details</h3>
                <button type="button" class="btn-close" data-dismiss="model" id="modal-close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Waterless wash light to medium Dirt or Stain,
                    Bead and Shine Chemical Wash (Carnauba, Polymer and Siloxane),
                    Plush Microfiber Towel Hand Dry,
                    Tire and Wheel Shine, Engine Wipe

                </p>
            </div>
            <div class="modal-footer">

                <span>Price:</span><h5 class="modal-title"><span>&#8369</span>450</h5>
            </div>
        </div>
    </div>
</div>



<!--Modal-->
<div class="modal" tabindex="-1" role="dialog" id="modal-details-1000">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h3>Details</h3>
                <button type="button" class="close" data-dismiss="model" id="modal-close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Pressurised Body Wash,
                    Paint Degrimming and Tar Removal,
                    Foam Cannon Wash( Synthetic Wash and Conditioner),
                    Air Blow Dry,
                    Interior Vacuum and Cleaning,
                    DA1.0 paint Cleaning and Degreasing,
                    J1.0 Sealant Wax Spray ( Carnauba, Polymer, Siloxane),
                    Glass Cleaning,
                    Tire and Wheel Shine,
                    Engine wipe

                </p>
            </div>
            <div class="modal-footer">

                <span>Price:</span><h5 class="modal-title"><span>&#8369</span>1000</h5>
            </div>
        </div>
    </div>
</div>




<!--Modal-->
<div class="modal" tabindex="-1" role="dialog" id="modal-details-3000">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h3>Details</h3>
                <button type="button" class="close" data-dismiss="model" id="modal-close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Pressurised Body Wash,
                    Paint Degrimming and Tar Removal,
                    Foam Cannon Wash( Synthetic Wash and Conditioner),
                    Air Blow Dry,
                    Interior Vacuum and Cleaning,
                    DA1.0 paint Cleaning and Degreasing,
                    J1.0 Sealant Wax Spray ( Carnauba, Polymer, Siloxane),
                    Glass Cleaning,
                    Tire and Wheel Shine,
                    NJ1.0 Engine Degreasing/Wipe Down,
                    Zero Bacteria


                </p>
            </div>
            <div class="modal-footer">

                <span>Price:</span><h5 class="modal-title"><span>&#8369</span>3000</h5>
            </div>
        </div>
    </div>
</div>




<script type="text/javascript">
    function detailsone() {
        $("#modal-details-260").modal("show");

    }

    function detailstwo() {
        $("#modal-details-450").modal("show");

    }

    function detailsthree() {
        $("#modal-details-1000").modal("show");

    }

    function detailsfour() {
        $("#modal-details-3000").modal("show");

    }


</script>
