@model CarWash.Web.ViewModels.bookings.BookingsViewModel
@{
    ViewData["Title"] = "BookingWithService";
}


<br /><br /><br />
<div class="container">
    <h1 class="well">Services</h1>
    <table class="table table-active table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Type</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Service.Vehicle</td>
                <td>@Model.Service.Price.ToString("F")</td>
                <td>@Model.Service.ServiceType</td>
                <td>@Model.Service.Description</td>
            </tr>
        </tbody>
    </table>
</div>
<br />  
<hr />
<div class="container">
    <h1 class="well">Booking reservation Form</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form >
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                <div class="col-sm-12">
                    <div class="row">
                        <input type="hidden" id="UserId" value="@Model.User.Id" />
                        <input type="hidden" id="ServiceId" value="@Model.Service.Id" />
                        <h2>@Model.User.UserName</h2>
                        <div class="col-sm-6 form-group">
                            <label>Phone Number</label>
                            <input type="text" placeholder="Enter Phone Number Here.." id="PhoneNumber" value="@Model.User.PhoneNumber" class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Email Address</label>
                            <input type="text" placeholder="Enter Email Address Here.." id="email" value="@Model.User.EmailAddress" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="BookingAddress">Pick-up Address</label>
                            <input placeholder="Enter Pick up Address Here.." type="text" id="bookingAddress" class="form-control">
                        </div>
                        <div class="col-12">
                            <label for="Time" class="form-label">Time</label>
                            <input type="datetime-local" class="form-control" name="Time" id="time" required="">
                        </div>

                   
                    </div>
                    <br />
                    <button type="button"  id="autoSubmit" class="w-100 btn-lg btn-info">Book Service</button>
                    <hr />
                    <a href="~/services/index" class="w-100 btn btn-danger btn-lg">&#8592;Cancel</a>
                </div>
            </form>
        </div>
      
    </div>
</div>

<script src="~/vendor/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#autoSubmit").attr('disabled', 'disabled');

        $("form").keyup(function () {
            // To Disable Submit Button
            $("#autoSubmit").attr('disabled', 'disabled');
            // Validating Fields
            var PhoneNumber = $("#PhoneNumber").val();
            var email = $("#email").val();
            var bookingAddress = $("#bookingAddress").val();
            var time = $("#time").val();
            


            if (!(PhoneNumber == "" || email == "" || bookingAddress == "" || ematimeil == "")) {

                // To Enable Submit Button
                $("#autoSubmit").removeAttr('disabled');
                $("#autoSubmit").css({
                    "cursor": "pointer",
                    "box-shadow": "1px 0px 6px #333"
                });

            }
        });
        // On Click Of Submit Button
        $("#autoSubmit").click(function () {
            $("#submit").css({
                "cursor": "default",
                "box-shadow": "none"
            });

        });
    });


    $(document).ready(function () {
        $("#autoSubmit").click(function () {

            var userId = $("#UserId").val();
            var serviceId = $("#ServiceId").val();
            var phoneNumber = $("#PhoneNumber").val();
            var email = $("#email").val();
            var bookingAddress = $("#bookingAddress").val();
            var time = $("#time").val();
           
            var auto = {
                UserId: userId,
                ServiceId: serviceId,
                PhoneNumber: phoneNumber,
                Email: email,
                Time: time,
                BookingAddress: bookingAddress,   
            }

            AutoBookForm(auto);
        });
    });



    function AutoBookForm(auto) {
        var route = "/booking/costumer-service";
        $.ajax({
            url: route,
            method: "POST",
            data: auto,
            success: function (redirectToIndex) {
                window.location = redirectToIndex;
            },
            error: function (err) {
                $("#ErrorList").html(err);
            }
        });
    }

</script>