@model CarWash.Web.ViewModels.bookings.IndexViewModel
@using CarWash.Web.Infrastructures.Domain.Models
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a href="~/booking/costumer/@Model.Id" class="btn-primary">Book Now</a>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Description</th>
            <th>Various Services</th>
            <th>Price</th>
            <th>Booking Address</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
   
        <tr>
            @foreach (Booking booking in Model.Bookings)
            {

            <td>
                @booking.Services.Vehicle
            </td>

            <td>
               @booking.Services.Description
            </td>

            <td>
               @booking.Services.ServiceType
            </td>
            
            <td>@booking.Services.Price</td>

            <td>
                @booking.BookingAddress
            </td>
            <td>@booking.Time</td>
            }
        </tr>
        
    </tbody>
</table>
