@using CarWash.Web.Infrastructures.Domain.Enums
@using CarWash.Web.Infrastructures.Domain.Models
@model CarWash.Web.Areas.Manage.ViewModels.users.IndexViewModel

@{
    Layout = "~/areas/manage/views/shared/_forms.cshtml";
}


<br /><br /><br />
<div class="row">
    <div class="col-lg-5">
        <div class="input-group mt-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Login Status</span>
            </div>
            <select class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="searchStatus" onchange="searchTrigger()" placeholder="Login Status">
                @{
                    foreach (LoginStatus status in Model.Statuses)
                    {
                        if (Model.Status == status)
                        {
                            <option value="@status" selected>@status.ToString()</option>
                        }
                        else
                        {
                            <option value="@status">@status.ToString()</option>
                        }
                    }
                }
            </select>
        </div>
    </div>

    <div class="col-lg-3 ">
        <div class="input-group mt-5">
            <input type="text" id="searchKeyword" placeholder="search users" class="form-control" aria-label="search users" aria-describedby="basic-addon2" value="@Model.Users.Keyword">
            <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2"><a href="#" onclick="searchTrigger()"><i class="fa fa-search" aria-hidden="true"></i></a></span>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="table-responsive table--no-card m-b-30 mt-md-5">
            <a href="~/manage/users/invite" class="btn btn-lg-3 btn-success btn-block">
                <i class="fa fa-plus"></i>&nbsp;
                <span>Invite User</span>
            </a>
        </div>
    </div>
</div>
<hr />


@if (Model.Users.Items.Count > 0)
{
    <table class="table table-borderless table-striped table-hover">
        <thead>
            <tr class="table-info">
                <th>Name</th>
                <th>Email Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (User user in Model.Users.Items)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td>@user.EmailAddress</td>
                        <td>
                            <a href="#" onclick="confirmResetPassword('@user.Id', '@user.UserName')" title="Reset Password"><button type="button" class="btn"><i class="fas fa-key"></i></button></a>

                            <a href="~/manage/user-roles/@user.Id" title="User Roles"><button type="button" class="btn"><i class="fas fa-user-secret"></i></button></a>
                            <a href="~/manage/user-groups/@user.Id" title="User Groups"><button type="button" class="btn"><i class="fas fa-users"></i></button></a>
                            <a href="~/manage/user-roles/@user.Id" title="User Roles"><button type="button" class="btn"><i class="fas fa-user-secret"></i></button></a>
                            @{
                                if (user.LoginStatus == CarWash.Web.Infrastructures.Domain.Enums.LoginStatus.Active)
                                {
                                    <a href="#" onclick="confirmDeactivateAccount('@user.Id', '@user.UserName')" title="Deactivate Account"><button type="button" class="btn"><i class="fas fa-lock"></i></button></a>
                                }
                                else
                                {
                                    <a href="#" onclick="confirmActivateAccount('@user.Id', '@user.UserName')" title="Activate Account"><button type="button" class="btn"><i class="fas fa-lock-open"></i></button></a>
                                }
                            }
                            <a href="#" onclick="confirmDeleteUser('@user.Id', '@user.UserName')" title="Delete User"><button type="button" class="btn"><i class="fas fa-times"></i></button></a>
                            @*<a href="~/manage/users/change-status/@user.Id" title="Change Status"><button type="button" class="btn"><i class="fas fa-user"></i></button></a>*@
                        </td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><span class="form-control-plaintext">Page&nbsp;&nbsp;&nbsp;</span></li>
                            <li class="page-item"><input type="number" value="@Model.Users.PageIndex" class="form-control" style="width:50px;" onKeydown="javascript: if(event.keyCode == 13 && isNaN(parseInt($(this).val()))==false) window.location='/manage/users/index?pageIndex=' + (isNaN(parseInt($(this).val())) ? 1 : parseInt($(this).val())) + '&keyword=@(Model.Users.Keyword)&status=@(Model.Status)" /></li>
                            <li class="page-item"><span class="form-control-plaintext">&nbsp;&nbsp;&nbsp;of @Model.Users.PageCount&nbsp;&nbsp;&nbsp;</span></li>
                            @{
                                var prev = Model.Users.PageIndex - 1;
                                if (prev > 0)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/users?keyword=@Model.Users.Keyword&status=@Model.Status&pageSize=@Model.Users.PageSize&pageIndex=@prev"><span aria-hidden="true">&laquo;</span></a></li>
                                }
                            }
                            <li class="page-item"><a class="page-link" href="#">@(Model.Users.PageIndex)</a></li>
                            @{
                                var next = Model.Users.PageIndex + 1;
                                if (next <= Model.Users.PageCount)
                                {
                                    <li class="page-item"><a class="page-link" href="~/manage/users?keyword=@Model.Users.Keyword&status=@Model.Status&pageSize=@Model.Users.PageSize&pageIndex=@next"><span aria-hidden="true">&raquo;</span></a></li>
                                }
                            }
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>0 search results.</p>
}


<div class="modal" tabindex="-1" role="dialog" id="modal-reset-password">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to reset the password of <span id="modal-reset-password-username"></span>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-reset-password-confirm"><button type="button" class="btn btn-primary">Reset Password</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal-account-status">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span class="modal-account-status-label"></span> Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to <span class="modal-account-status-label"></span> the account of <span id="modal-account-status-username"></span>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-account-status-confirm"><button type="button" class="btn btn-primary"><span class="modal-account-status-label"></span> Account</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal-delete-user">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete <span id="modal-delete-user-username"></span>?</p>
            </div>
            <div class="modal-footer">
                <a href="#" id="modal-delete-user-confirm"><button type="button" class="btn btn-primary">Delete User</button></a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    function confirmResetPassword(userId, userName) {
        $("#modal-reset-password-username").html(userName);
        $("#modal-reset-password-confirm").attr("href", "/home/reset-password/" + userId);
        $("#modal-reset-password").modal("show");
    }

    function confirmActivateAccount(userId, userName) {
        $("#modal-account-status-username").html(userName);
        $(".modal-account-status-label").html("Activate");
        $("#modal-account-status-confirm").attr("href", "/manage/users/change-status/Active/" + userId);
        $("#modal-account-status").modal("show");
    }

    function confirmDeactivateAccount(userId, userName) {
        $("#modal-account-status-username").html(userName);
        $(".modal-account-status-label").html("Deactivate");
        $("#modal-account-status-confirm").attr("href", "/manage/users/change-status/Locked/" + userId);
        $("#modal-account-status").modal("show");
    }

    function confirmDeleteUser(userId, userName) {
        $("#modal-delete-user-username").html(userName);
        $("#modal-delete-user-confirm").attr("href", "/manage/users/delete/" + userId);
        $("#modal-delete-user").modal("show");
    }

    $("#searchKeyword").keyup(function (event) {
        if (event.keyCode === 13) {
            searchTrigger();
        }
    });

    function searchTrigger() {
        window.location = "/manage/users?pageIndex=1&keyword=" + $("#searchKeyword").val() + "&status=" + $("#searchStatus").val();
    }

   
</script>
