<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@ViewData["Title"] - CarWash.Web</title>

    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!--FontAwesome 6 alpha-->
    <link href="~/vendor/fontawesome/css/all.css" rel="stylesheet" media="all" />
    <script defer src="~/vendor/fontawesome/js/all.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendor/venobox/venobox.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/vendor/noty/noty.css" rel="stylesheet" type="text/css" />
    <link href="~/vendor/noty/themes/metroui.css" rel="stylesheet" type="text/css" />
    <script src="~/vendor/noty/noty.min.js"></script>
    <style>
        .noty_bar {
            z-index: 1000;
            background-color: beige;
        }
    </style>

</head>
<body>

    <partial name="~/Views/Shared/_PartialNavbar.cshtml" />
    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        @Html.Partial("~/views/shared/_footer.cshtml")
    </div>
    <script>
        var currentUser = '@WebID.GetPublicUserId';
    </script>
    <!-- Vendor JS Files -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counterup/counterup.min.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/venobox/venobox.min.js"></script>
    <script src="~/vendor/noty/noty.js"></script>
    <script src="~/vendor/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/bookingPhase.js"></script>    

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
